.port-img{
    width: 100%;
   
    border: 1px solid rgb(237, 231, 231);
    border-radius: 10%;
    padding: 10px;
    box-shadow: 1px 1px  #293DCB;
}
.port-img:hover{
    cursor: pointer;
    opacity: 0.5;
}

.text-center{
    color: #293DCB;
}
