.esp-h1{
    color: #384BCF;
    margin-bottom: 0;
}

.especial{
    background-color: #3347D4;
    color: white;
}
.esp-p{
  margin-bottom: 1rem;
}



.card {
    border: 1px solid #ccc;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease; 
  }
  
  .card.active {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }

  @media screen and (max-width:767px){
   
  }
      
     
      
      
      @media screen and (min-width:768px) and (max-width:1023px){
        .ajuste{
          display: flex;
          justify-content: center;
          width: 200px;
          
        }
       
        
        
     
      
      
      
      @media screen and (min-width:1024px){
         
      }
    }